.approve-btn {
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.approve-btn,
.buy-btn {
  margin: 10px;
  font-size: 22px;
  font-weight: 400;
  padding: 15px 45px;
  border-radius: 32px;
  width: 100%;
}

.btnn-group {
  justify-content: center !important;
  margin: 10px;
}

.imgCont {
  height: 80px;
  width: 80px;
}

.imgCont img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.bal-icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  border-radius: 100%;
}

.bal-icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 6px;
  border-radius: inherit;
}

.account {
  background: #0000006b;
  padding: 7px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #0000006b;
  transition: all 0.3s ease;
}

.account:hover {
  border: 1px solid #007bff;
}

.form-control:focus {
  color: #959a9f !important;
}

.text-muted {
  font-size: 18px;
  font-weight: 500;
}

.link-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.link-icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.table thead {
  border-top: 0;
  border-bottom-width: 1px;
  font-weight: 500;
  color: #6c7293;
}

tr {
  margin: 5px 0;
}

.referralLink:disabled,
.referralAddress:disabled {
  background-color: #313539 !important;
}

.referrerLabel {
  text-align: center;
  align-self: end;
  margin-right: 12px;
}

.referrerAdd {
  margin: 0 12px;
  justify-content: center;
}

.referrerAdd input {
  width: 0;
  min-width: 330px !important;
}

.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.loader-container div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buy-btn-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buy-btn-text span {
  font-size: 16px;
  color: #6c757d;
  font-weight: 600;
}

input:disabled,
button:disabled {
  cursor: not-allowed;
}

.sidebarLogo {
  height: 65px !important;
  width: 65px !important;
}

.sidebarLogo img {
  height: 100% !important;
  width: 100% !important;
  object-fit: contain !important;
}

.navbar {
  /* background: #191c24; */
}

.navbar-nav .dropdown-menu {
  position: absolute;
  min-width: 12rem;
  padding: 10px !important;
}

.dropdown-toggle {
  background-color: #095ab3 !important;
  border-color: #095ab3 !important;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  top: 30px;
  left: -70px;
}

@media only screen and (max-width: 276px) {
  .navbar-nav .dropdown-menu {
    left: -5px;
  }
}
